/**
 * prism.js Material Theme Ocean (without red)
 * Based on the Material Theme Ocean color scheme.
 * @author ycet.dev
 */
code[class*="language-"],
pre[class*="language-"] {
  color: #c3cee3;
  background: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
}

pre[class*="language-"],
:not(pre) > code[class*="language-"] {
  background: #263238;
}

/* Code blocks */
pre[class*="language-"] {
  border-radius: .5em;
  margin: .5em 0;
  overflow: auto;
  padding: 1em;
}

pre[class*="language-"]::-moz-selection {
  /* Firefox */
  background: #263238;
}

pre[class*="language-"]::selection {
  /* Safari */
  background: #263238;
}

/* Text Selection colour */
pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: rgba(29, 59, 83, 0.3);
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: rgba(29, 59, 83, 0.3);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  border-radius: .3em;
  padding: .15em .2em .05em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #546e7a;
}

.token.punctuation {
  color: #81d4fa;
}

.token.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #c792ea;
}

.token.boolean,
.token.number {
  color: #f78c6c;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #c3e88d;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #89ddff;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #ffcb6b;
}

.token.keyword {
  color: #89ddff;
}

.token.regex,
.token.important {
  color: #f78c6c;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

/* Markup */
.language-markup .token.tag,
.language-markup .token.attr-name,
.language-markup .token.punctuation {
  color: #c792ea;
}

/* Make the tokens sit above the line highlight so the colours don't look faded. */
.token {
  position: relative;
  z-index: 1;
}

.line-highlight.line-highlight {
  background: rgba(255, 255, 255, 0.1);
  margin-top: 0.75em;
  z-index: 0;
}

.line-highlight.line-highlight:before,
.line-highlight.line-highlight[data-end]:after {
  background-color: rgba(255, 255, 255, 0.2);
  color: #6989c4;
}
